body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.container{
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: palevioletred;
    border: rebeccapurple;
   

}
.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    
    
}
.single-img{
    padding:0 20px 20px;
    max-width: 100%;
    object-fit: scale-down;
   


}
img:hover{
    opacity: 0.5;
    transition: 0.9s;
}